@import './styles/index.scss';

.aca-dialog__root {
  top: 30% !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  width: 480px;
  border-radius: 2px;
  background: #ffffff;
  outline: none;

  &.center {
    top: 50% !important;
    transform: translateY(-50%);
  }

  &.ant-modal {
    padding-bottom: 0;
  }

  & .ant-modal-header {
    border: none;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    padding-bottom: 0;
  }
}

.aca-dialog__actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  & > button {
    margin-left: 16px;
  }
}