.aca-scroll-card__header {
  display: flex;
  justify-content: space-between;
}

.aca-scroll-card__container {
  display: flex;
}

.aca-scroll-card__content {
  overflow-y: auto;
  margin-bottom: 4px;

  &::-webkit-scrollbar {
    height: 4px;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(31, 45, 61, 0.14);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    color: green;
  }
}