.root {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 140px;

  border-radius: 12px;
  overflow: hidden;
}

.card {
  padding: 20px 24px;

  & > .title {
    margin: 0;
    font-size: 14px;
    line-height: 16px; 
    font-weight: 400;
    color: #333333;
  }
}

.stake {
  box-sizing: border-box;
  width: 50%;
  flex: 0 0 50%;
  background: linear-gradient(180deg, #3f3f3f 0%, #272727 100%);
  padding-right: 84px;

  & > .title {
    color: #ffffff;
  }

  & > .stakingAmount {
    display: block;
    margin-top: 24px;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    font-weight: bold;
  }

  & > .stakingValue {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
    color: #999999;
  }
}

.balance {
  flex: 1;
  padding-left: 84px;

  & > .balanceContainer {
    display: flex;
    margin-left: -24px;
  }

  & .balanceBlock {
    margin-top: 32px;
  }
}

.property {
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 70px);

  width: 140px;
  height: 140px;

  border-radius: 50%;

  .wrapper {
    transform: rotateY(0);

    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
    backface-visibility: none;
    box-shadow: 0 5px 20px rgba(30, 135, 240, 0.2);
  }

  &:hover {
    .wrapper {
      transform: rotateY(180deg);
    }
  }

  .wrapper {
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #3f3f3f 0%, #272727 100%);

    border-radius: 50%;
    overflow: hidden;
  }

  & .content {
    position: relative;

    box-sizing: border-box;
    width: 134px;
    height: 134px;
    background: #ffffff;
    margin: 3px;
    border-radius: 50%;;

    overflow: hidden;
  }

  .profit {
    transform: rotateY(180deg);
  }

  .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;

    & > p {
      margin: 0;
    }

    & > .label {
      font-size: 14px;
      line-height: 16px;
      color: #333333;
      text-align: center;
      margin-top: 29px;
    }

    & > .data {
      display: block;
      margin-top: 20px;
      font-size: 28px;
      line-height: 34px;
      color: #173dc9;
      font-weight: bold;
      text-align: center;
    }

    & > .tokenName {
      display: block;
      margin-top: 4px;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
      text-align: center;
    }
  }
}
