.root {
  box-sizing: border-box;
  width: 100%;
  height: 96px;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 64px 1fr;

  &:hover, &.focused {
    border-color: var(--color-primary);
  }

  &.error {
    border-color: #ff5500 !important;
  }

  .switch {
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  .inputArea {
    flex: 1;
  }

  .balanceInput {
    height: 48px !important;
    border-bottom: 1px solid #E9E9E9 !important;
  }

  .amountDisplay {
    height: 48px;
    display: flex;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
    color: #333333;
  }

  .amountInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E9E9E9
  }

  .balanceDisplay {
    height: 46px !important;
    border: none;

    & > input:disabled {
      background: #ffffff;
      font-size: 16px;
    }
  }
}